<!DOCTYPE html>
<html ng-app="micro-www">
<head>
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://css-spinners.com/css/spinner/three-quarters.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="javascripts/home.js"></script>
  <title>micro-www</title>
</head>

<body ng-controller="mainCtrl">
<div class="container">
  <div class="masthead">
    <h3 class="text-muted">WWW micro service</h3>
  </div>

  <div class="jumbotron">
    <h1>API micro service - Status</h1>

    <div ng-if="apiConnectionStatus.state=='error'">
      <div class="bs-callout bs-callout-danger">
        <h4>{{apiConnectionStatus.msg}}</h4>

        <p>Please check environment variable : {{env.api_url}}</p>
      </div>
    </div>
    <div ng-if="apiConnectionStatus.state=='success'">
      <div class="bs-callout bs-callout-success">
        <h4>{{apiConnectionStatus.msg}}</h4>

        <p>Successfully received response from : {{env.api_url}}</p>

        <p>API Build Number: {{apiBuildnum}}</p>

        <p>API Time: {{apiAccessTime ? apiAccessTime: 'No Time Reported!'}}</p>
      </div>
    </div>
  </div>

  <!-- Site footer -->
  <footer class="footer">
    <p>&copy; Aye0Aye 2014</p>
  </footer>
</div>
</body>
</html>
